@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 100.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}


@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 500.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 700.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}


@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 1000.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
}



@font-face {
  font-family: 'Museo Sans Rounded';
  src:  url('fonts/Museo Sans Rounded 1000.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
}

