header {
  position: absolute;
  background-color: rgba(0, 0, 0, .3);
  height: 100px;
  left: 0;
  right: 0;
  top: 0;
  box-shadow: 2px 0px 4px  rgba(0, 0, 0, .5);
}

h1 {
  font-family: 'Museo Sans Rounded';
  font-weight: 900;
  color: white;
  font-size: 24px;
  letter-spacing: .2em;
  text-align: center;
}

header p {
  font-family: 'Museo Sans Rounded';
  font-weight: 900;
  color: white;
  text-align: center;
  font-size: 16px;
  letter-spacing: .3em;
}

header a {
  color: white;
}