<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %><link href="<%= webpack.assetsByChunkName['main'][1] %>" rel="stylesheet"><% } %>
</head>
<body class="babel">
<!-- feel free to remove the following - except the script tags at the end -->
<span id="forkongithub"><a href="https://github.com/topheman/webpack-babel-starter" title="topheman/webpack-babel-starter on github">Fork me on GitHub</a></span>
<h1>Webpack Babel Starter Kit <span style="font-size: 60%">v3 (using webpack2 / npm5)</span></h1>

<!-- keep the following lines -->
<% if (!htmlWebpackPlugin.options.MODE_DEV_SERVER) { %><script src="<%= Object.prototype.toString.call(webpack.assetsByChunkName['bundle']) === '[object Array]' ? webpack.assetsByChunkName['bundle'][0] : webpack.assetsByChunkName['bundle'] %>"></script><% } %>
</body>
</html><%= htmlWebpackPlugin.options.BANNER_HTML %>
